{% extends 'base.html.twig' %}

{% block title %}{{ documentation.title }} - CESIZen{% endblock %}

{% block body %}
<div class="py-6 md:py-10 max-w-4xl mx-auto space-y-8 animate-fade-in px-4 sm:px-0">

    {# BREADCRUMB #}
    {{ include('components/_breadcrumb.html.twig', {
        'breadcrumbs': [
            {'label': 'Documentations', 'url': path('app_documentation_index')},
            {'label': documentation.title}
        ]
    }) }}

    <article class="bg-base-100 rounded-sm shadow-sm border border-base-200 overflow-hidden my-4">
        
        {# HEADER ARTICLE #}
        <header class="px-8 md:px-12 py-6 md:py-10 text-base-content border-b border-base-200">
            <h1 class="text-3xl md:text-5xl font-extrabold mb-4 leading-tight tracking-tight">{{ documentation.title }}</h1>
            
            <div class="flex flex-wrap gap-2 mt-4 items-center">
                <span class="text-sm opacity-80 font-medium mr-2">Catégories :</span>
                {% for cat in documentation.categories %}
                    <span class="inline-flex items-center px-3 py-1 rounded-sm text-sm font-bold bg-base-100 text-primary shadow-sm">
                        {{ cat.name }}
                    </span>
                {% endfor %}
            </div>
        </header>

        {# CONTENU ARTICLE #}
        <div class="p-8 md:p-12 prose prose-lg md:prose-xl max-w-none !text-base-content
            prose-p:text-base-content prose-li:text-base-content prose-strong:text-base-content prose-strong:font-extrabold
            prose-headings:font-bold prose-headings:text-base-content 
            prose-a:text-primary prose-a:font-bold prose-a:underline hover:prose-a:text-primary/80
            prose-img:rounded-sm prose-img:shadow-sm">
            {# Le filtre raw permet d'interpréter le HTML généré par Trumbowyg #}
            {{ documentation.content|raw }}
        </div>
        
        {# FOOTER ARTICLE #}
        <footer class="px-8 py-6 bg-base-200 border-t border-base-300 flex justify-between items-center">
            
            {{ include('components/_button.html.twig', {
                label: 'Retour aux articles',
                variant: 'outline',
                attr: 'href="' ~ path('app_documentation_index') ~ '"',
                icon: '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>',
                extra_classes: 'flex-row-reverse'
            }) }}
            
            {# Action optionnelle: Sauvegarder dans mon espace (A implémenter ultérieurement si besoin) #}
        </footer>
    </article>
</div>
{% endblock %}
